/* cascading rule */
/* p{
    color: blue;
}
p{
    color: red;
} */
/* *{
    color: green;
}
h1 {
    font-family: "Courier New", monospace;} 
    i {
    color: green;} 
    i {
    color: red;} 
    b {
    color: pink;}
p{
    color: blue !important;
} 
p#intro{
    color: red;
}    */
body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    padding: 10px;} 
    .page {
    border: 1px solid #665544;
    background-color: #efefef; 
    padding: inherit;} 